:root {
  --background: #ffffff;
  --outerBackground: #eeeeee;
  --links: #0645ad;
  --bodyFont: #000000;
  --tooltip: #ffffff;
  --grayToWhite: #333333;
  --navbar: #f8f8f8;
  --navbarFont: #707070;
  --navbarFontHover: #000000;
  --alerts: #d9edf7;
  --completionButton: #ffaa2b;
  --completionButtonHover: #ff9f19;
  --admonition: #fcf8e3;
  --admonitionBorder: #fbeed5;
  --codeButtons: #474949;
  --codeButtonsBorder: #474949;
  --dangerAlerts: #f2dede;
  --successAlerts: #dff0d8;
  --componentBgColor: 
}

.journal > form > fieldset > legend {
  display: none;
}

.runestone_caption {
  display: none;
}

.reveal_button {
  padding: 2px 6px;
}

/* Runestone's youtube center option doesn't work.
This is a workaround. */
iframe.youtube-video.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-size: inherit;
}

.admonition.hint {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.admonition-did-you-know {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.admonition-common-pattern {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.admonition-video-recap {
  background-color: #E4F0DF;
  border-color: #CDF0C0;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  width: 560;
}

.admonition-exercise-files table {
  margin: 0;
}

.admonition-exercise-files table .reveal_button {
  margin: 0 !important;
  padding: 2px 6px;
}

.admonition-walkthrough {
  background-color: #fff2e6;
  border-color: #f0c7a0;
}

.admonition-walkthrough .admonition-title {
  font-style: italic;
}

.admonition-walkthrough .reveal_button {
  margin-bottom: 0 !important;
}

.engr101-subtitle {
  font-size: 1em;
  text-color: #777777;
}

/* MATCRAB */
.matcrab-vis-exp {
  margin: 1em;
}

.matcrab-example {
  display: inline-block;
}

.matcrab-example table td {
  padding: 0.25em;
  vertical-align: top;
}

.matcrab-example table .matcrab-entry {
  width: 175px;
  height: 150px;

  /* https://stackoverflow.com/questions/2032652/forcing-html-textarea-to-use-a-monospace-font-using-css */
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;

  white-space: nowrap;
  overflow: auto;
}

.matcrab-example table .matcrab-vis {
  margin-left: 1em;
  width: 300px;
  height: 250px;
  overflow: auto;
}

.matcrab-reset.btn {
  font-size:1em;
  padding: 3px 6px;
}

.matcrab-run.btn {
  font-size:1em;
  padding: 3px 6px;
}

.admonition-walkthrough {
  background-color: #fff2e6;
  border-color: #f0c7a0;
}

.admonition-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Add overrides for runestone component css here */
.runestone {
  background-color: #fbf6d2;
  border-width: 1px;
  border-color: #e9dd82;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
}
